
.container {
  max-width: 500px;
  margin: auto;
  margin-top: 80px;
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.submitButton {
  display: block;
  margin:  auto;
  border-radius: 10px;
  font-weight: 600;
  max-width: 120px;
  color: #fff;
  background-color: darkgreen;
}

.login{
    margin-top: 5px;
    text-align: center;
}